networks:
  # The presence of these objects is sufficient to define them
  expense: {}
  volumes:
    mysql:
  services:
  backend:
      image: backend:2.0.0
      networks:
      - expense
      container_name: backend
      depends_on:
      - mysql

  # docker run -d --name mysql --network expense -v mysql:/var/lib/mysql mysql:2.0.0
  mysql:
      image: mysql:2.0.0
      networks:
      - expense
      container_name: mysql
      volumes:
      - mysql:/var/lib/mysql

  frontend:
   services:
      image: frontend:2.0.0
      networks:
      - expense
      container_name: frontend
      ports:
      - 80:80
      depends_on:
      - backend

    
